# Ignore the node_modules folder in the backend
backend/node_modules/

# Ignore the node_modules folder in the frontend
frontend/node_modules/

# Ignore the main node_modules folder (if exists at root)
node_modules/

# Ignore other typical folders/files
dist/
build/
.env
