@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 75%;
    scroll-behavior:smooth;
}

.navbar{
    @apply flex items-center justify-between w-full fixed top-0 z-10 h-[5.4rem] p-[3.2rem];
}
/* flex items-center justify-between w-full fixed top-0 z-10 h-[5.4rem] p-[3.2rem] */
.nav_links{
    @apply text-2xl font-semibold text-[#181b21] mx-[0.8rem] px-[0.8rem] py-[0.4rem] rounded-[0.8rem] bg-transparent hover:bg-[#181b21] hover:bg-opacity-10 ease-out duration-200;

}

.transform_50{
    transform: translate(-50%, -50%);
}